<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.evertils</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Library/Ruby/Gems/2.0.0/gems/evertils</string>
        <string>generate</string>
        <string>morning</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>09</integer>
        <key>Minute</key>
        <integer>00</integer>
    </dict>
</dict>
</plist>